
body { 
            background: #fff; 
            background-size: cover; 
            background-position: scroll; 
        }

.container-registro { width: 85%; margin: 0 auto; margin-top: 80px; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { margin-bottom:0; }

.kt-checkbox.kt-checkbox--brand.kt-checkbox--solid > input:checked ~ span {
    background: #b51f1f;
}
.kt-checkbox.kt-checkbox--brand.kt-checkbox--solid > span {
    background: #b51f1f;
    border: 1px solid transparent !important;
}
.kt-radio.kt-radio--brand.kt-radio--solid > span {
    background: #b51f1f;
    border: 1px solid transparent !important;
}
.kt-radio.kt-radio--brand.kt-radio--solid > input:checked ~ span {
    background: #b51f1f;
}
.nav-pills .nav-item .nav-link:active, .nav-pills .nav-item .nav-link.active, .nav-pills .nav-item .nav-link.active:hover {
    background:none;
    color: #ffffff;
}
.kt-option {
    border: 1px solid #b51f1f;
}
.input-group-text {
    background-color: #b51f1f;
    border: 1px solid #b51f1f;
}
.form-control {
    border: 1px solid #b51f1f;
}
.input-group i {
    color: #fff;
}

.btn-primary {
    color: #fff;
    background-color: #666;
    border-color: #666;
    color: #ffffff;
    cursor: pointer;
}
.custom-file-label {
    border: 1px solid #b51f1f;
}
.dropzone {
    border: 2px dashed #b51f1f;
}
body {
    color: #010000;
}
.kt-section .kt-section__content.kt-section__content--solid {
    border-left: 4px solid #b51f1f;
     background: #efefef;
}
.btn-remover {
	background-color: #666;
    border-color: #666;
}
.kt-option .kt-option__label .kt-option__head .kt-option__title {
    color: #010000;
}
p {
     color: #010000; font-size: 14px;
}

.kt-wizard-v3 .kt-wizard-v3__wrapper .kt-form {
    width: 100% !important;
    padding: 0 !important;
}
.kt-wizard-v3 .kt-wizard-v3__wrapper .kt-form .kt-wizard-v3__content {
    padding-bottom: 0 !important;
}

.kt-wizard-v3 .kt-wizard-v3__nav .kt-wizard-v3__nav-items .kt-wizard-v3__nav-item {
    -ms-flex: 0 0 8% !important;
    flex: 0 0 8% !important;
    margin-right: 15px;
}
.kt-wizard-v3 .kt-wizard-v3__nav .kt-wizard-v3__nav-items { padding: 0 !important;  }

#tienePeriodoEjercido-error { display: none !important; }



 /************  MENU ****************/
.container.menu { max-width: 1200px;  }
 .navbar{
    width: 100%;
 }
 .navbar{
    margin-right: auto;
    margin-left: auto;
    background-position: center;  
 }
 .navbar-nav{margin: 0 0 0 auto; }
 .nav-link{
    
    padding: 1px;
    margin: 5px;
    border-radius: 0;
    color: #fff !important;
    

 }

 #page-title { background: #b51f1f !important; padding: 100px 0; }
 .nav-item.active .nav-link { 
    text-align: center; 
    color: #fff ;
    font-family:arial; 
    font-weight: bold;
    border-bottom: 2px solid #fff;
    
 }
  .nav-item:hover .nav-link {
    border-bottom: 2px solid #fff;
  }
 .nav-item   .nav-link { 
    text-align: center;
    font-family:arial;
    font-weight:bold; 
 }
 .navbar-brand{
    display: table-cell;
    vertical-align: middle;
    padding: 20px 0;
 }
 /************* PAGINA CONVOCATORIA ******************/
/* .table_estilos{
    padding-left:15%;
    padding-right: 14%;
 }
 .table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 2px;
    text-align: justify-all;
 }*/
 /**************** PAGINA REQUISITOS ************/
 .jumbutron {
    background-color: #b51f1f !important;
    margin: 2% ;
    padding: 2% ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
 .wpb_wrapper{
    padding-left: 15%;
    padding-right: 14%;
    margin: 2%;
 }
 hr {
    border-top: 1px solid white;
 }
 
 /***************+*  HEADER  **************************/
 .page-title-block {

    background-position: 50% 0;
    background-size: cover;
    position: relative;
    position: relative;
 }
 .page-title-title h1{
    color: #ffffff;
    text-align: center;
 }

header {
    color: #fff;
    line-height: 40px;
    left: 0;
    padding: 10px 0;
    position: fixed;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 10000;
}


 /******************** PAGINA INICIO ************************/
 .intro-header {
    background-color: #808080;
    background: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
 }
 .intro-header .site-heading,
 .intro-header .post-heading,
 .intro-header .page-heading {
    padding: 300px 0px 50px;
    color: white;
 }
 @media only screen and (width: 768%) {
    .intro-header .site-heading,
    .intro-header .post-heading,
    .intro-header .page-heading {
        padding: 150px 0;
    }
 }
 .intro-header .site-heading,
 .intro-header .page-heading {
    text-align: center;
 }
 /*
 .container{
    width:1200px;
    position:absolute;
    left:60%;
    margin-left:-600px;

 }*/

 /******************** BUTTON DE PAGINAS PLAZAS,INSTRUCCIONES,CONCURSOS MERITOS **************************/

 .btn-danger {
    background-color: #b51f1f!important;
    color: #fff;
 }
 .btn {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    margin: .375rem;
    border: 0;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
 }
 .btn.btn-sm {
    padding: .5rem 1.6rem;
    font-size: .80rem;
 }

 .card{
    margin: 20px auto;
    padding: 5px; 
    width: 500px;">
 }
 /******************FOOTER********************/

 footer {
    background: #525050;
    color: #fff;
}
footer .bg-footer {
    padding: 60px 0 !important;
}
#footer-bg {
    background-repeat-y: no-repeat;
    background:url(https://posgrado.uap.edu.pe/wp-content/themes/posgrado/assets/img/aguila-05.png);
    background-position: bottom;
    background-size: contain;
}

footer .col-lg-2, footer .col-lg-3, footer .col-lg-4 {
    padding: 60px 0 !important;
}
footer p,
footer p a {
    color:#fff;
}

footer p#title-footer {
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: 700;
}

.dataTables_info { display: none; }

#kt_repeater_grados,
#kt_repeater_cargos,
#kt_repeater_idiomas,
#kt_repeater_experiencia { padding-top: 25px; border-top:1px solid #ccc;  }

.input-group { margin-bottom: 15px; }